[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/christoph-cullmann/hermit.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/christoph-cullmann/hugo-coder.git
