@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Geist";
}

code,
time {
  font-family: "GeistMono";
  font-weight: normal;
  font-style: normal;
}
